.dynamic-popup {
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translateX(-50%);
   background-color: #121212;
   color: #fff;
   width: 150px;
   border-radius: 25px;

   display: flex;
   align-items: center;
   justify-content: center;

   z-index: 100;

   p {
      margin-top: 5px;
      margin-bottom: 5px;
      font-size: 16px;
   }
}