.message-box {
   position: relative;
   margin-bottom: 0;

   .text-input {
      width: 100%;
      padding: 20px 50px 20px 20px;
      border: unset;
      background-color: aliceblue;

      &:focus-visible {
         outline: unset
      }
   }

   .button-container {
      position: absolute;
      top: 0;

      display: flex;
      align-items: center;
      gap: 25px;

      height: 100%;
      right: 0;
      margin-inline-end: 10px;
      cursor: pointer;

      svg {
         height: 27px;
         width: 27px;
         background-color: unset;
      }

   }
}