.message-box {
   position: relative;
   margin-bottom: 0;

   .text-input {
      // background-color: white;
      // height: 30px;
      width: 100%;
      padding: 20px 50px 20px 20px;

      &:focus-visible {
         outline: unset
      }
   }

   .button-container {
      position: absolute;
      right: 0px;
      top: 0;
      display: flex;
      gap: 15px;
      align-items: center;
      margin-inline-end: 10px;
      height: 100%;

      svg {
         height: 24px;
         width: 24px;
      }

   }
}