.app-header-container {
    min-height: 75px;
    // position: fixed;
    // top: 0;
    // min-height: 75px;
    background-color: white;
    // position: absolute;
    margin-top: 0;
    // top: 0;
    z-index: 10;
    box-shadow: 0 1px 20px -6px rgba(black, 0.08);
    text-align: center;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;

    .header-container {
        min-width: 100%;
        align-items: center;
        justify-content: space-between;

        & svg {
            height: 120px;
            width: 120px;
            cursor: pointer;
        }

        & .nav-bar {
            gap: 20px;
            cursor: pointer;
            
            & a {
                padding: 10px;
                
                &:hover {
                    color: blue;
                    border-bottom: 2px solid blue;
                }
            }
        }
    }
}