.app-footer-container {
    min-width: 100%;
    // height: rem(75px);
    min-height: rem(75px);
    position: fixed;
    bottom: 0;
    text-align: center;
    margin-bottom: 0 !important;
    background-color: #fff;
    box-shadow: 0 -1px 20px -6px rgba(black, 0.08);
}

.app-footer-container {
    min-height: 75px;
    // position: fixed;
    // top: 0;
    // min-height: 75px;
    background-color: white;
    // position: absolute;
    margin-top: 0;
    // top: 0;
    z-index: 10;
    box-shadow: 0 1px 20px -6px rgba(black, 0.08);
    text-align: center;
    min-width: 100%;
    align-items: center;
    justify-content: space-between;

    .footer-container {
        min-width: 100%;
        align-items: center;
        justify-content: space-between;

        & svg {
            height: 120px;
            width: 120px;
            cursor: pointer;
        }
    }
}