.chatty-board {
    display: flex;
    flex-direction: column;

    .message-list {
        max-height: 100%;
        overflow: scroll;
        flex-grow: 1;
     }

    .message-box-container {
        width: 100%;
        flex-grow: 0;
    }
}