.chat-preview {
   padding: 1rem;
   box-shadow:
      inset 0 2rem 2rem -2rem rgba(black, 0.05),
      inset 0 -2rem 2rem -2rem rgba(black, 0.05);
   flex-grow: 1;
   min-height: 70px;

   & .msg {
      font-size: 0.9em;
      position: relative;

      &.user-msg {
         text-align: left;
         padding: 4rem 45rem 5rem 30rem;
         float: right;
         border-radius: 25vmax 25vmax 0 25vmax;
         background: #333;
         color: white;
         filter: drop-shadow(0 1px 1px rgb(210, 209, 209));

         & p {
            margin: unset;
         }

         span {
            font-size: 0.6em;
            color: tomato;
         }
         
         .time-isseen{
            justify-content: space-between;
            align-items: center;
            
            & .time-text{
               font-size: 0.6em;
            }
            
            & .isSeen{
               color: white;
            }
         }
      }
      
      &.friend-msg {
         float: left;
         text-align: right;
         padding: 4rem 45rem 0rem 30rem;
         border-radius: 25vmax 25vmax 25vmax 0;
         background: rgb(240, 240, 240);
         color: #333;
         filter: drop-shadow(0 1px 1px rgb(210, 209, 209));
         
         span {
            font-size: 0.6em;
            color: green;
         }    
         
         & p {
            margin: unset;
         }

         .time-isseen{
            justify-content: space-between;
            align-items: center;
            
            & .time-text{
               font-size: 0.6em;
            }

            & .isSeen{
               color: green;
            }
            
         }
      }
   }
}