.chatty-side {
    font-size: 14px;
    background-color: lightgrey;
    padding: 0px 10px;

    .friends-list {
        display: flex;
        flex-direction: column;
    }

    .chat-list-side {
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;

        span {
            margin-bottom: 10px;
        }

        div {
            line-height: 50px;
            border-radius: 4px;
            background-color: white;
            padding: 0px 5px;

            &:hover {
                background-color: gold;
            }
        }
    }

}