// sass-lint:disable no-color-literals
$white:        #fff;
$dark-gray:    #333;
$main-gray:    #ededed;
$light-gray:   #f7f7f7;
$dark-green:   #009688;
$info-message: rgba(225,245,254,.92);


/* Responsive Variables */
$break1:     "(min-width: 320px) and (max-width:767px)";
$break1open: "(max-width:320px)";
$break2:     "(min-width:768px) and (max-width:1023px)";
$break2open: "(min-width:768px)";
$break3:     "(min-width:1024px) and (max-width:1439px)"; 
$break3open: "(min-width:1024px)";
$break4open: "(min-width:1440px)";

$mobile-viewport: 600px; 
$tablet-viewport: 900px;
$narrow-viewport: 1200px;
$normal-viewport: 1400px;
$wide-viewport: 1800px;
$extra-wide-viewport: 2200px;


/* mobile-viewport */
@media #{$break1}{
    html{ font-size: 1.2px; }
}

@media #{$break1open}{
    html{ font-size: 1.4px; }
}

/* tablet-viewpor */
@media #{$break2}{
    html{ font-size: 1.6px; }
}

@media #{$break2open}{
    html{ font-size: 1.8px; }
}

/* narrow-viewport */
@media #{$break3}{
    html{ font-size: 2px; }
}
@media #{$break3open}{
    html{ font-size: 2.2px; }
}

/* normal-viewport */
@media #{$break4open}{
    html{ font-size: 2.6px; }
}


