.app-home {
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;

   .auth-container {
      display: flex;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      a {
         color: #121212
      }
      
   }
}