.app-chatty-grid {
   background-color: yellow;
   display: grid;
   grid-template-columns: 20% 80%;
   grid-template-rows: 10% 90%;
   gap: 0px 0px;
   grid-auto-flow: row;
   grid-template-areas:
      "chatty-header chatty-header"
      "chatty-side chatty-board";
   // max-width: 90%;
   position: relative;
   flex-grow: 1;

   .chatty-header {
      grid-area: chatty-header;
      background-color: skyblue;
   }

   .chatty-side {
      grid-area: chatty-side;
      background-color: green;
   }

   .chatty-board {
      grid-area: chatty-board;
      background-color: purple;
   }
}