.app-chatty {
   display: flex;
   height: 100vh;

   .chatty-side {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 550px) {
         flex-grow: 1;
     }
   }

   .chatty-main {
      flex-grow: 1;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: url(https://i.redd.it/ts7vuoswhwf41.jpg);
      background-position-y: center;
   }
}