.main-grid {
    position: fixed;
    // overflow: hidden;
    max-height: 100vh;
    grid-template-areas: "side-a side-b";
    grid-template-columns: minmax(260px, 30%) 1fr;

    @media #{$break4open} {
        max-height: calc(100vh - 40px);
    }

    @media #{$break2open} {
        display: grid;
        grid-template-areas: "side-a main side-b";
        grid-template-columns: minmax(260px, 30%) 1fr auto;
    }

    @media #{$break4open} {
        margin: 20px;
        width: 1396px;
        margin: 0 auto;
    }

}

.main-side {
    grid-area: side-a;
}

.main-content {
    grid-area: main;
}

.main-info {
    grid-area: side-b;
}