* {
   box-sizing: border-box;
}

body {
   margin: 0;
   text-rendering: optimizeSpeed;
   overflow: hidden;
   font-family: roboto;

   .App {
      position: relative;
   }
}

a {
   text-decoration: none;
}